{% extends "base.html" %} {% block content %} {% with messages =
get_flashed_messages() %} {% if messages %}
<div class="notification is-danger">{{ messages[0] }}</div>
{% endif %} {% endwith %}
<form
  action="{{ url_for('main.index') }}"
  method="post"
  style="display: flex; flex-direction: row"
>
  <div class="form-group">
    <label for="task-text">Task:</label>
    <input
      type="text"
      class="form-control"
      id="task-text"
      name="task_text"
      placeholder="Enter task"
      style="margin: 5px"
    />
  </div>
  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
<div class="d-flex justify-content-center align-items-center mt-4">
  <h1 class="title">Task List</h1>
</div>

<div class="d-flex justify-content-center align-items-center mt-4">
  <table class="table">
    {% if tasks %}
    <thead>
      <tr>
        <th>Task</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in tasks %}
      <tr>
        <td>{{ todo.text }}</td>

        <td>
          <a
            href="{{ url_for('main.edit_task', todo_id=todo.id) }}"
            class="btn btn-primary btn-sm"
            >Edit</a
          >
          <div></div>
        </td>
        <td>
          <form
            action="{{ url_for('main.delete_task', todo_id=todo.id) }}"
            method="post"
            onsubmit="return confirm('Are you sure you want to delete this todo?')"
          >
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>

      {% endfor %}
    </tbody>

    {% else %}
    <span class="badge badge-danger">No Task is their, Enjoy the Day</span>
    {% endif %}
  </table>
</div>

{% endblock %}
